$spotifyRed: rgba(255, 70, 50, 1);
$spotifyBlue: rgba(45, 70, 185, 1);
$spotifyTextColor: #191414;
$spotifyLightPink: #ffcdd2;
$spotifyLightGreen: rgba(195, 240, 200, 1);
$spotifyGreen: #006450;
$spotifyDarkGreen: #005040;
$spotifyLightTextColor: #707074;
